body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	height: 100vh;
}

#data-user-verified {
	position: relative;
	top: 30%;
	.verified {
		display: flex;
		align-items: center;
		flex-direction: column;
	}
	.btn-new-primary {
		color: #fff;
		background-color: #101939;
		border-color: #101939;
	}
}

.title-new {
	color: #101939;
	font-weight: 700;
}
